body {
    background-image: url(images/background.jpg);
}

h1 {
    text-align: center;
    font-family: 'Satisfy';
    font-size: 52px;
    margin-bottom: 0.8em;
}

h2 {
    font-family: 'Satisfy';
    font-size: 40px;
    margin-top: 2em;
    text-align: center;
}

h3 {
    font-family: 'Satisfy';
    font-size: 30px;
    text-align: center;
    font-weight: 250;
}

#img-div {
    height: 38vw;
    width: 80vw;
    margin: auto;
    position: relative;
}


#image {
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    max-width: 100%;
    max-height: 100%;
    height: auto;
    margin: auto;
    display: block;
    position: relative;
    border: solid;
    border-color: transparent;
    border-radius: 4%;
}

#image:hover {
    filter: grayscale(0);
}

#img-caption {
    font-family: 'Fira Sans', sans-serif;;
    text-align: center;
    font-style: italic;
    font-size: small;
    font-weight: 100;
}

figure {
    margin: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

hr {
    margin-top: 2.5em;
}

p {
    padding-left: 5em;
    padding-right: 5em;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    text-align: justify;
}

ul {
    padding-left: 10em;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
}

ol {
    padding-left: 10em;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
}

#nav {
    font-family: 'Satisfy', sans-serif;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 5vw;
    margin: auto;
    position: relative;
    font-size: 3vw;
}

#edu {
    display: flex;
    background-color: #DC3522;
    flex-grow: 1;
    border: solid;
    border-color: transparent;
    border-radius: 15px 0px 0px 15px;
    color: white;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

#pop {
    display: flex;
    flex-grow: 1;
    background-color: #D9CB9E;
    color: white;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

#priv {
    display: flex;
    flex-grow: 1;
    background-color: #374140;
    border: solid;
    border-color: transparent;
    border-radius: 0px 15px 15px 0px;
    color: white;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
}

footer {
    margin: auto;
    background-color: #a1a09e;
    text-align: center;
    border: solid;
    border-color: transparent;
    border-radius: 10%;
    height: 5vw;
    align-items: center;
}