body {
    background-image: url(images/background.jpg);
}

h1 {
    text-align: center;
    font-family: Satisfy;
    font-size: 52px;
    margin-bottom: 0.8em;
}

h2 {
    font-family: Satisfy;
    font-size: 40px;
    margin-top: 2em;
    text-align: center;
}

h3 {
    font-family: Satisfy;
    font-size: 30px;
    margin-top: 2em;
    text-align: center;
    font-weight: 200;
}

#img-div {
    display: flex;
    justify-content: space-around;
}

#image {
    height: 30vw;
    width: auto;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
    border-style: solid;
    border-color: transparent;
    border-radius: 4%;
}


#image:hover {
    filter: grayscale(0);
}

figcaption {
    font-family: 'Fira Sans', sans-serif;;
    text-align: center;
    font-style: italic;
    font-size: small;
    font-weight: 100;
}


hr {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
}

p {
    padding-left: 5em;
    padding-right: 5em;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
    text-align: justify;
}

ul {
    padding-left: 10em;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
}

ol {
    padding-left: 10em;
    font-family: 'Fira Sans', sans-serif;
    font-size: 22px;
}