body {
    background-image: url(images/background.jpg);
}

h1 {
    text-align: center;
    font-family: Satisfy;
    font-size: 45px;
}

#img-div {
    display: flex;
    justify-content: space-around;
}

#pender {
    height: 30vw;
    width: auto;
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
    filter: grayscale(1);
   
}


#pender:hover {
    filter: grayscale(0);
}



hr {
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 4em;
    margin-right: 4em;
    height: 0.3dm;
}


